*{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Marcellus', serif;
    font-size: 62.5%;   
}
:root{
    --white-color:#fff;
}
@keyframes fadeIn {
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
@keyframes fadeIn1{
    0%
    {
        transform:scaleX(0);
    }
    to
    {
        transform:scaleX(1);
    }
}